* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

div {
  height: 100%;
  width: 100%;
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
}

.intro {
  padding-top: 20rem;
}

.intro > h1 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  color: #293264;
  margin-bottom: 12px;
}

.intro > p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
  margin-bottom: 28px;
}

.intro > button {
  background: #4D5B9E;
  border-radius: 15px;
  border: 1px solid #4D5B9E;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F5F7FB;
  padding: 16px 60px;
}