* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

div {
  height: 100%;
  width: 100%;
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
}

.intro {
  padding-top: 16rem;
  background-image: url("./assets/blobs1.png");
  background-repeat: no-repeat;
  background-position-x: right;
  text-align: center;
}

.intro > h1 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  color: #293264;
  margin-bottom: 12px;
}

.intro > p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
  margin-bottom: 28px;
}

.action-button {
  background: #4D5B9E;
  border-radius: 15px;
  border: 1px solid #4D5B9E;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F5F7FB;
  padding: 16px 60px;
}

.questionAnswers {
  padding: 40px 240px;
  text-align: center;
  background-image: url("./assets/blobs1.png");
  background-repeat: no-repeat;
  background-position-x: right;
}

.question {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #293264;
  margin-bottom: 16px;
  text-align: left;
}

.options{
  display: flex;
  margin-bottom: 16px;
}

.option {
  box-sizing: border-box;
  border-radius: 7.94239px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #293264;
  padding: 8px 16px;
  margin-right: 24px;
  text-align: left;
}

hr {
    border: 0.794239px solid #DBDEF0;
    margin-bottom: 20px;
}